@import '../constants';

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  margin: 0 auto;
  padding: 0;
  width: 100%;

  font-family: $font-family;
}

.mintTopSpacer {
  height: 100px;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0 auto;
}

.subtitle {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 auto;
}

.content {
  align-items: flex-start;
  display: flex;
  // flex-direction: row;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  margin: 0 auto;
  padding: 0;
  width: 100%;

  .connectButtonDiv {
    margin: 0 auto;
    padding: 2em;
  }

  .left {
    // min-width: 400px;
    max-width: 35%;
    border-right: 6px solid $color-primary;
  }

  .right {
    width: 65%;
  }
}

@media (max-width: $media-query-large) {
  .content {
    flex-direction: column;
    .left {
      display: none;
    }
    .right {
      width: 100%;
    }
  }
}
