$color-checkerboard-dark: #dddddd;
$color-checkerboard-light: #eeeeee;

$color-gray-accent: #cccccc;

$color-bg: $color-checkerboard-dark;

$color-dark: #333;

$color-primary: #189ad3;
$color-primary-highlight: #1da1f2;
$color-secondary: coral;
$color-secondary-highlight: #ff6b35;

$font-family: 'VT323', monospace;

$media-query-large: 1024px;
$media-query-medium-large: 900px;
$media-query-medium: 768px;
$media-query-medium-small: 640px;
$media-query-small: 480px;
